div#whiteboardHeader
{
    font-family: Helvetica;
    text-align: center;
    font-size: 24pt;
}

div#indexAnnouncements
{
    float: right;
}

div#indexCourselist
{
    float: left;
}

div#indexRoleAdminLink
{
    position: absolute;
    bottom: 0;
}

div#courseHeader
{
    font-family: Helvetica;
    text-align: center;
}

div#courseLinksHeader
{
    text-align: center;
}

.hidden
{
    display: none;
}

.success
{
    color: green;
}
