<%inherit file="base.html" />
<%! from whiteboard.utils import url %>
<%def name="title()">${ctx['course']['code']} - ${ctx['course']['title']}</%def>

<%block name="bodyContent">
<div id="courseHeader">
<h1>${ctx['course']['code']}</h1>
<h2>${ctx['course']['title']}</h2>
</div>

<hr />

<div id="courseLinksHeader">
<a href="${url('/course/%s/documents/' % ctx['course']['courseid'])}">Documents</a>
<a href="${url('/course/%s/grades' % ctx['course']['courseid'])}">Grades</a>
<a href="${url('/course/%s/assignments' % ctx['course']['courseid'])}">Assignments</a>
</div>

<hr />

<%block name="coursePageContent" />

</%block>
