<%inherit file="base.html" />
<%!
from whiteboard.utils import url
import whiteboard.helpers.RoleHelper as RoleHelper
%>
<%def name="title()">${ctx['course']['code']} - ${ctx['course']['title']}</%def>

<%block name="bodyContent">
<div id="courseHeader">
<h1>${ctx['course']['code']}</h1>
<h2>${ctx['course']['title']}</h2>
</div>

<hr />

<div id="courseLinksHeader">
<a href="${url('/course/%s/documents/' % ctx['course']['courseid'])}">Documents</a>
<a href="${url('/course/%s/grades' % ctx['course']['courseid'])}">Grades</a>
<a href="${url('/course/%s/assignments' % ctx['course']['courseid'])}">Assignments</a>
</div>

<hr />

<%block name="coursePageContent" />

<div class="footer">

% if RoleHelper.current_user_has_role(ctx['course']['courseid'], 'instructor'):
<a href="roleadmin">Manage Roles</a>
+ <a href="createassignment">Create an Assignment</a>
+ <a href="bulkRoleAdd">Add Roles in Bulk</a>
% endif
% if RoleHelper.current_user_has_role(ctx['course']['courseid'], 'instructor, ta'):
+ <a href="addAnnouncement">Create an Announcement</a>
+ <a href="addDocument">Upload a Document</a>
+ <a href="editGrades">Edit Grades</a>
% endif
</div>
</%block>
