<%inherit file="courseskeleton.html" />
<%! from whiteboard.utils import url %>
<%def name="title()">Add Announcement</%def>

<%block name="headerAddons">
<script type="text/javascript" src="${url('/static/jquery-1.6.4.min.js')}"></script>
<script type="text/javascript" src="${url('/static/json2.js')}"></script>
<script type="text/javascript" src="${url('/static/ajaxMagic.js')}"></script>
<script type="text/javascript">
$(function() {
    $("#announcement").submit(function() {
        var $ajaxData = {'ajaxData': $("#announcement").form2json()};
        $.post('${url('/ajax/courseAddAnnouncement')}', $ajaxData, function(data) {
            if(data['status'] == 'success') {
                window.location = data['redirect_url'];
            } else {
                // Oh my GOD make this prettier
                alert("Announcement add failed!");
            }
        });
        return false;
    });
});
</script>

</%block>

<%block name="coursePageContent">
<div id="courseAnnouncementEditor">
<form id="announcement" action="#" method="POST">
    <input type="hidden" name="courseid" value="${ctx['course']['courseid']}" />
    Announcement content: <br /><textarea name="content" rows="5" cols="50" ></textarea><br />
    <input type="submit" value="Create Announcement" />
</form>
</div>
</%block>
