<%inherit file="courseskeleton.html" />
<%! import whiteboard.helpers.RoleHelper as RoleHelper %>

<%block name="coursePageContent">
<div id="courseAnnouncements">
<ul>
% for announcement in ctx['announcements']:
<li>${announcement['date']} - ${announcement['caseid']}: ${announcement['content']}</li>
% endfor
</ul>
</div>

<div class="footer">
% if RoleHelper.current_user_has_role(ctx['course']['courseid'], 'instructor'):
<a href="roleadmin">Manage Roles</a>
% endif
% if RoleHelper.current_user_has_role(ctx['course']['courseid'], 'instructor, ta'):
+ <a href="addAnnouncement">Create an Announcement</a>
+ <a href="addDocument">Upload a Document</a>
% endif
</div>
</%block>
