<%inherit file="base.html" />
<%!
import whiteboard.helpers.RoleHelper as RoleHelper
from whiteboard.utils import url
%>
<%def name="title()">Whiteboard Role Administration</%def>

<%block name="headerAddons">
<script type="text/javascript" src="${url('/static/jquery-1.6.4.min.js')}"></script>
<script type="text/javascript" src="${url('/static/json2.js')}"></script>
<script type="text/javascript" src="${url('/static/ajaxMagic.js')}"></script>
<script type="text/javascript">
$(function() {
    $("#roleEdit").submit(function() {
        var $ajaxData = {'ajaxData': $("#roleEdit").form2json()};
        $.post('${url('/ajax/siteRoleSubmit')}', $ajaxData, function(data) {
            $("#roleEditResult").html("<p>" + data["result"] + "</p>");
            if(data["status"] == "success") {
                $("#roleEditResult").addClass("success");
            }
        });
        return false;
    });
});

$(function() {
    $("#roleUsername").change(function() {
        var username = $(this).val();
        var $ajaxData = {'ajaxData': JSON.stringify({'username': username})};
        $.post('${url('/ajax/siteRoleValidate')}', $ajaxData, function(data) {
            if(data["status"] == "success") {
                $("#siteRoleEditor").removeClass("hidden"); 
                $("#roleEdit > input[name|=username]").val(username);
            }
        });
    });
});

</script>
</%block>

<%block name="bodyContent">
<p>User to edit: <input id="roleUsername" type="text" /></p>

<div id="siteRoleEditor" class="hidden">
        <form id="roleEdit" action="#" method="POST">
                <input type="hidden" name="username" value="" />
                % for role in RoleHelper.site_role_names:
                <input type="checkbox" name="roles" value="${role}">${role}</input><br/>
                % endfor
                <input type="submit" value="Update Roles" />
        </form>
        <div id="roleEditResult">
        </div>
</div>
</%block>
